

body {
    background-color: #f9f9f9 !important;
}

.divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: 9px 0;
    /*margin-bottom: 20px !important;*/
    overflow: hidden;
    background-color: #e5e5e5;
}

.divider{
    background: #d2d2d2; /* For browsers that do not support gradients   #39a884*/
    /*background: -webkit-linear-gradient(left, #18bc9c , goldenrod); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(right, #18bc9c, goldenrod); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(right, #18bc9c, goldenrod); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(to right, #18bc9c , goldenrod); !* Standard syntax *!*/
    opacity: 0.3;
    /*background:linear-gradient(rgba(255,255,255,0), white);*/
}

textarea {
    width:100%;
    max-width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px
}

.header-wrapper {
    max-width: 1500px;
    margin: auto;
}

.custom-panel:hover {
    background: #e9e9e9;
}

/*body { padding-top:30px; }*/
.widget .panel-body { padding:0px;}
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0px;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: #ffffff; }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; color: #5e5e5e; margin-bottom: 20px}
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.jumbotron {
    padding-left: 30px !important;
}

.ur-card {
    margin: 0 0 15px;
    border: 0;
    background: #fff;
    box-shadow: 2px 1px 7px 0px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.btn:focus {*/
  /*outline: none;*/
/*}*/

#refresh_btn {
    color: gray;
    /*background: white;*/
}
#refresh_btn:focus {
    color: black !important;
    /*background: whitesmoke !important;*/
}

#refresh_btn:hover {
    color: darkgray;
    /*background: whitesmoke;*/
}

#url_copy:hover {
    color: white !important;
    background: #e7e7e7;
}


.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-bottom: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-bottom: 4px;
    margin-top: 2px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.sidebar-box {
    max-height: 110px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .grad-out{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0;
    /*padding: 0px 0;*/
    /*padding-bottom: 50px;*/
    /* "transparent" only works here because == rgba(0,0,0,0) */
    /*background-color: transparent;*/
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
    background-image: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), white);
}

.show-more {
    position: absolute;
    text-align: left;
    margin-left: 40px;
    bottom:0;
    left:0;
    width:100%;
    /*margin: 0;*/
    padding:0;
}



.site-header {
    background-color: white;
}

.custom-search {
    background-color: white;

}

.custom-search input {
    background-color: white;
    border: none;
    border-bottom: 2px solid #008cba;
    color: #6d6d6d;
    padding: 0;
    width: 100%;
    /*f5f5f5*/
}

#home_search:focus {
    border: none;
    border-bottom: 2px solid red;
}

@media screen and (min-width: 850px) {
    .custom-search input {
        font-size: 2em;
    }
}


/*Overwrite href <a> links*/
a {
    color: #2168f7;
}

a:hover,
a:focus {
    /*color: #ff7272;*/
    color: #2311e5;
    text-decoration: underline;
}
.link {
    font-size: 12px;
    color: #2168f7;
    cursor: pointer;
}

.link:hover,
.link:focus {
    /*color: #ff7272;*/
    color: #2311e5;
    /*text-decoration: underline;*/
}

.breadcrumb-link {
    cursor: pointer;
    color: #18bc9c;
}

#id_honeypot {
    display: none;
}

/* Flatten das boostrap */
/*.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {*/
    /*-moz-box-shadow: none !important;*/
    /*-webkit-box-shadow: none !important;*/
    /*box-shadow: none !important;*/
    /*-webkit-border-radius: 0px !important;*/
    /*-moz-border-radius: 0px !important;*/
    /*border-radius: 0px !important;*/
    /*border-collapse: collapse !important;*/
    /*background-image: none !important;*/
/*}*/

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    src: local('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

#fav_btn:hover{
    color: #16b294;
}

.col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.content-left {
    border-right: 1px solid #e5e5e5;
}

.content-right {
    border-left: 1px solid #e5e5e5;
}

li.current {
    background: #7befe4;
}


/***************
Loading Screen
Source: https://ihatetomatoes.net/create-custom-preloading-screen/
****************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    z-index: 1000;
}

.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

.custom-header {
    background-color: #2da0c5;
    color: white;
}

.custom-modal-content {
    border: none;
}

.custom-text-input {
    margin-bottom: 15px;
}

/*.modal-open {*/
    /*position: fixed;*/
/*}*/

.img-circle {
    border-radius: 50%;
}

.borderless-panel{
    border: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mic-info {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

.user_sqr_sm {
    margin-right: -10px;
    border-radius:2px;
    height:20px;
    color: #385761;
    font-size: 10px;
    border: 0;
    background-color: transparent;
    font-weight: bold;
}

.noscroll {
  overflow: hidden;
}