{% extends 'base.html' %}
{% block content %}

{% load static %}

<script type="text/javascript" src="{% static 'js/istina.js' %}"></script>
<div class="col-md-1"></div>
<div class="col-lg-10" style="margin-top: 0px">
    <ul class="breadcrumb">
        <li><a href="/">Домой</a></li>
        <li class="active">О ЖУРНАЛЕ</li>
    </ul>
    <div class="list-group">
    <span class="list-group-item active">О ЖУРНАЛЕ</span>
        <span class="list-group-item">
        <br><br>
        <table>
            <tbody>

            <tr>
                <td style="padding-top:10px;" class="ot" valign="top" align="center">
                    <b class="topic3">КТО МЫ ТАКИЕ?</b>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px; padding-bottom:10px;" class="ot" valign="top"><p>Журнал «Голос Истины» учрежден Славянской Баптистской Церковью города Спокен, штат Вашингтон (США). Периодичность издания: 12 раз в году. Объем: 32 страницы. Издается с 1999 года. <br><br> На данном вебсайте вы сможете найти крупнейший архив за последние 11 лет издания. Более 20 тематических рубрик предлагают широкий выбор для чтения. Свыше 70 авторов из США, России, Украины, Средней Азии и других стран дают непредвзятое изложение библейских принципов жизни, служения и веры.<br><br> «Голос Истины» является некоммерческим христианским благотворительным изданием и существует за счет пожертвований.</p><br><br>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;" class="ot" valign="top" align="center">
                    <b class="topic3">НАША ИСТОРИЯ</b>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px; padding-bottom:20px;" class="ot" valign="top"><p>Первый номер вышел в октябре 1999 года. У молодежи Славянской Баптистской Церкви появилась идея выпускать небольшой молодежный информационный бюллетень для внутрицерковного пользования. Назвали его просто - «Молодежный Вестник». Его объем состоял из двух листов 8.5 х 14 in (legal size), сложенных пополам. Печатали на простой копировальной машине. Начальный тираж был 60 экземпляров. <br><br> Постепенно издание росло как количественно, так и качественно. Появилось больше постоянных авторов из других церквей. Увеличились объем и тираж, расширилась география распространения. Помимо вопросов молодежи, стали публиковаться статьи общецерковной, богословской и семейной тематики. Исходя из этих причин, мы решили переименовать наше издание, назвав его «Голос Истины».</p>
                    <p>В настоящее время журнал "Голос Истины" в печатном варианте более не издается. Случилось это по некоторым причинам, в числе которых: упадок подписчиков, финансовые затруднения, занятость работников/волонтеров в другом служении. Поэтому в электронном варианте пишутся статьи и христианские повести в мире. Если у вас есть краткая, интересная и назидательная статья, присылайте в редакцию. Спасибо.</p>								<br><br>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;" class="ot" valign="top" align="center">
                    <b class="topic3">КАКОЕ СОДЕРЖАНИЕ?</b>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px; padding-bottom:20px;" class="ot" valign="top"><p>Все материалы, которые принимаются к публикации, должны соответствовать вероучению евангельских христиан-баптистов. <br><br> На страницах журнала вы найдете много интересного и познавательного на такие темы, как: <br><br></p>
                    <li>Духовные статьи и проповеди.</li>
                    <li>Рассказы и стихи современных авторов.</li>
                    <li>Семья: родители и дети.</li>
                    <li>Вопросы молодежи.</li>
                    <li>Страничка для детей</li>
                    <li>Христианские новости.</li>
                    <li>Жизнь церквей и союзов.</li>								<br><br>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;" class="ot" valign="top" align="center">
                    <b class="topic3">РАСПРОСТРАНЕНИЕ ЖУРНАЛА: КАК ЧАСТО И ГДЕ?</b>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px; padding-bottom:20px;" class="ot" valign="top"><p>Журнал издается ежемесячно!  Возможна подписка как для жителей США так и страны бывшего Союза, Европы, Израиля и других стран. <br><br> Вы можете сделать подарок для ваших друзей и родственников на родине, оформив на них подписку журнала. У нас налажена рассылка во все республики СНГ.</p><br><br>
                </td>
            </tr>
            </tbody>
        </table>
        </span>
    </div>
</div>
<script>
    set_menu_item_active('about');
</script>
{% endblock %}



