{% extends 'base.html' %}


{% block content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/istina.js' %}"></script>

    <div class="col-xs-12" style="margin-left: -20px;margin-right: -20px">
        <div class="alert alert-{{ activation_type }}">
            {{ activation_msg }}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                window.location.href='/'
                }, 15000);
        });
    </script>

{% endblock %}
