{% extends 'base.html' %}
{% block content %}

{% load static %}

<script type="text/javascript" src="{% static 'js/istina.js' %}"></script>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px">
    <ul class="breadcrumb">
        <li><a href="/">Домой</a></li>
        <li class="active">АРХИВ</li>
    </ul>
    <div class="custom-search" style="border-radius: 5px">
        <div class="form-group has-feedback has-clear" style="border-radius: 5px;box-shadow: 2px 1px 5px 0px rgba(0,0,0,.1);">
            <input class="search_init" action="Search" type="search" id="article_search" placeholder="Поиск&hellip;" style="outline: none;font-size: 30px;padding-left: 10px; padding-top: 2px; background-color: #fdfdfd; border-radius: 5px">
            <input type="submit" class="button" id="article_search_btn" value="Search" hidden onclick="gArticlePage=1;search_articles();">
            <a class="glyphicon glyphicon-search form-control-feedback form-control-clear" id="search_icon" onclick="gArticlePage=1;search_articles();" style="pointer-events: auto; text-decoration: none;cursor: pointer;color: #989898"></a>
        </div>
    </div>

    <ul class="nav nav-tabs" id="archive_nav">
        <li role="presentation" class="active" id="archive_years"><a onclick="load_archive_years()" style="cursor: pointer">По годам</a></li>
        <li role="presentation" id="archive_authors"><a onclick="load_archive_authors()" style="cursor: pointer">Авторы</a></li>
        <li role="presentation" id="archive_search"><a onclick="load_all_articles()" style="cursor: pointer">Статьи</a></li>
    </ul>
    <div class="panel panel-default" style="border-top: none">
        <div class="panel-body">
            <img src="/static/images/loading.gif" id="loading_gif" style="display: block;margin: auto">
            <div id="main_archive">
            </div>
        </div>
    </div>

</div>
<script>
    set_menu_item_active('archive');
{#    load_archive_years();#}
</script>

{% endblock %}