{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <script type="text/javascript" src="{% static 'js/istina.js' %}"></script>

    <div class="col-md-9 col-sm-9" style="margin-top: 0px">
        <ul class="breadcrumb">
            <li><a href="/archive">АРХИВ</a></li>
            <li class="active">{{ article.header|truncatechars:30 }}</li>
        </ul>
    <div class="panel panel-default">
        <div class="panel-body">
            {% autoescape off %}
                <img src="/static/images/article_pictures/{{ article.picture }}" class="img-responsive pull-right"/>
                <strong><h4>{{ article.header }}</h4>{{ article.article_date }}</strong>
                <p style="padding-top: 15px">{{ article.text }}</p>
            {% endautoescape %}
        </div>
    </div>

    </div>
    <div class="col-md-3 col-sm-3" style="margin-top: 0px">
        <ul class="breadcrumb">
            <li><a href="/archive" onclick="sessionStorage.setItem('tab_number', 1)">АВТОРЫ</a></li>
        </ul>
        <div class="panel panel-default borderless-panel" style="border-color: #f9f9f9;">
            <div class="panel-body" style="text-align: center; background-color: #f9f9f9;">
                {% autoescape off %}
                    <img src="/static/images/author_images/{{ author.picture }}" class="img-thumbnail"/>
                    <strong><h5>{{ author.first_name }}, {{ author.last_name|title }}</h5></strong>
                    <p style="padding-top: 05px; font-size: 12px">{{ author.intro }}</p>
                    <a href="/archive" style="font-size: 12px" onclick="sessionStorage.setItem('author_id', {{ author.author_id }}).setItem('issue_id', '').setItem('tab_number', 2);">статьи автора</a>
                {% endautoescape %}
            </div>
        </div>
    </div>
    <script>
        set_menu_item_active('');
    </script>

{% endblock %}