<!DOCTYPE html>
{% load staticfiles %}
{% load mytags %}
<html>
<head>
    <title>Istina</title>
{#    <link rel="shortcut icon" href="{% static 'images/' %}" type="image/x-icon">#}
    <meta name="viewport" content="width=device-width, 4thtial-scale=1.0">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <style>
        .navbar, .btn {
            border-radius: 2px !important;
        }
    </style>
</head>
<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
var csrf_token = '{{ csrf_token }}';
</script>
<img data-aria-label-part src="{% static 'images/istina_logo.gif' %}" onclick="go_home()" id="istina_logo" class="img-responsive" style="cursor: pointer;padding-left:10px;padding-right:10px;margin-top: 10px; margin-bottom: 20px;">
<nav class="navbar navbar-inverse" id="navbar" style="z-index: 1002">
{#    <div class="header-wrapper">#}
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" onclick="go_home()" style="font-size: 20px;cursor: pointer">Голос Истины</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 10px">

{#          <form class="navbar-form navbar-left" role="search">#}
{#            <div class="form-group">#}
{#              <input type="text" class="form-control" placeholder="Search">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default" style="background-color: #fdfdfd">Submit</button>#}
{#          </form>#}
            <ul class="nav navbar-nav navbar-right" id="main_menu_items">
                <li id="home_menu_item" class="active"><a onclick="go_home()" style="cursor: pointer">ГЛАВНАЯ </a></li>
                <li id="about_menu_item"><a href="/about">О ЖУРНАЛЕ</a></li>
                <li id="archive_menu_item"><a href="/archive">АРХИВ</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="{{ user.email|gravatar_url:20 }}" /> &nbsp; {{ user.first_name|upper }} {{ user.last_name.0|upper }}{% if user.last_name %}.{% endif %} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" style="margin-top: 1px">
                        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out pull-right"></span>ВЫЙТИ</a></li>
                    </ul>
                </li>
                {% else %}
                    <li id="login_menu_item" onclick="start_login()"><a style="cursor: pointer">ВОЙТИ</a></li>
                {% endif %}
            </ul>

        </div>
{#    </div>#}
    </div>
</nav>
<div class="col-md-1"></div>
<div class="container-fluid" style="color: #5e5e5e;">
    <div class="col-md-10" id="block_content" style="margin:auto; margin-top:0px">
        <div id="base_errors"></div>
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="col-md-1"></div>

<div class="modal fade" id="login_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white">&times;</button>
                <h4 class="modal-title">Войти</h4>
            </div>
            <div class="modal-body" style="margin-bottom:15px">
                <div id="login_errors"></div>
                <label for="username">{{ form.username.label_tag }}</label>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" id="username" placeholder="Логин или e-mail">
                </div>
                <br>
                <label for="password">{{ form.password.label_tag }}</label>
                <div class="input-group input-group-md" style="margin-top:-10px; margin-bottom:20px">
                    <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Пароль">
                </div>
                <div class="col-xs-12">
                    <span onclick="start_register()"><a style="cursor: pointer; font-size: 12px">Зарегистрироваться</a></span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md pull-left" id="login_spinner" style="display: none; background-color: white"><i class="fa fa-refresh fa-spin"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" id="login_submit" onclick="main_login()">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white">&times;</button>
                <h4 class="modal-title">Моментальная регистрация</h4>
            </div>
            <div class="modal-body" style="margin-bottom:15px">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12" style="text-align: center; margin-bottom: 30px">
                            <span>Пожалуйста, заполните форму для регистрации.</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <div id="register_errors" style="color: red;"></div>
                            <input type="text" class="form-control custom-text-input" id="reg_first_name" placeholder="Ваше имя">
                            <input class="form-control custom-text-input" id="reg_last_name" placeholder="Ваша фамилия">
                            <div id="reg_email_errors" style="color: red;"></div>
                            <input class="form-control custom-text-input" id="reg_email" placeholder="Ваш email">
                            <div id="username_errors" style="color: red;"></div>
                            <input class="form-control custom-text-input" id="reg_username" placeholder="Ваш username ">
                            <div id="password_errors" style="color: red;"></div>
                            <input type="password" class="form-control custom-text-input" id="reg_password" placeholder="Пароль">
                            <div id="confirm_pass_error" style="color: red;"></div>
                            <input type="password" oninput="check_confirm_password(this)" class="form-control custom-text-input" id="confirm_password" placeholder="Подтвердить пароль">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
{#                <span >&nbsp;</span>#}
{#                <div class="col-xs-1" id="reg_spinner" style="display: none;"><i class="fa fa-refresh fa-spin pull-left"></i></div>#}
                <button class="btn btn-md pull-left" id="reg_spinner" style="display: none; background-color: white"><i class="fa fa-refresh fa-spin"></i></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-success" id="register_submit" onclick="register()">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
<script>
    $(document).scroll(function() {
        var scroll_distance = $(document).scrollTop();
        var logo_height = $('#istina_logo').height()+30;
        if (scroll_distance >= logo_height){
            $('#navbar').addClass('navbar-fixed-top');
            $('#block_content').css('margin-top', '65px');
        }else{
            $('#navbar').removeClass('navbar-fixed-top');
            $('#block_content').css('margin-top', '0px');
        }
    });
</script>
</body>
</html>