{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <script type="text/javascript" src="{% static 'js/istina.js' %}"></script>

    <div class="col-lg-10 col-lg-offset-1" style="margin-top: 0px" id="blog_errors">

    </div>

    <div class="col-lg-10 col-lg-offset-1" style="margin-top: 0px">
        <div class="form-group">
            <label for="title" style="font-size: 16px"><strong>Заглавие:</strong></label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="preface" style="font-size: 16px"><strong>Preface:</strong></label>
            <textarea style="height: 200px" class="tinymce" id="preface"></textarea>
        </div>
        <div class="form-group">
            <label for="article" style="font-size: 16px"><strong>Article:</strong></label>
            <textarea style="height: 300px" class="tinymce" id="article"></textarea>
        </div>
        <div class="form-group">
            <label for="picture" style="font-size: 16px"><strong>Фото:</strong></label>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" id="picture" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
        {% if id != -1 %}
            <label style="font-size: 16px"><strong>Current Image:</strong></label>
            <img src="/media/news_images/image-news-300-{{ news.id }}.jpg" class="img-thumbnail" onerror="this.onerror=null;this.src='/static/images/istina_logo.gif';"/>
            <div class="form-group" style="margin-bottom: 15px">
                <button class="btn btn-primary pull-right" style="width: 25%" id="newsSubmit" onclick="add_edit_news_article({{ news.id }})">Update</button>
            </div>
        {% else %}
            <div class="form-group" style="margin-bottom: 15px">
                <button class="btn btn-primary pull-right" style="width: 25%" id="newsSubmit" onclick="add_edit_news_article({{ id }})">Submit</button>
            </div>
        {% endif %}
        <div class="col-md-12" id="add_news_success"></div>
    </div>
    <script>
        var id = {{ id }}
        if(id !== -1){
            $(document).ready(function(){
                $("#title").val("{{ news.title|escapejs }}");
            });
            window.onload = function(){
                tinyMCE.get('preface').setContent("{{ news.preface|escapejs }}", {format: 'raw'});
                tinyMCE.get('article').setContent("{{ news.article|escapejs }}", {format: 'raw'});
            };
        }

        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
          $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
          });

          // We can watch for our custom `fileselect` event like this
          $(document).ready( function() {
              $(':file').on('fileselect', function(event, numFiles, label) {

                  var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                  if( input.length ) {
                      input.val(log);
                  } else {
                      if( log ) alert(log);
                  }

              });
          });
        });
    </script>

{% endblock %}