{% extends 'base.html' %}


{% block content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/istina.js' %}"></script>
    <style>
        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            text-decoration: none;
            color: #ffffff;
            background-color: #18bc9c;
        }
        .custom-item{
            font-size: 9px !important;
        }
    </style>

    <div style="margin-left: -20px;margin-right: -20px">

{#        <img data-aria-label-part src="static/images/istina_logo.gif" class="img-responsive" style="width:300px;margin-left: 30px; margin-bottom: 20px;">#}
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section"></div>
            </div>
            <div id="home_news"></div>
        </div>
        {% if not user.is_authenticated %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <button class="btn btn-success" onclick="start_register()" style="width:100%">Зарегистрироваться</button>
            </div>
        {% endif %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="list-group">
                <span class="list-group-item active">
                ОТ РЕДАКТОРА
                </span>
                <span class="list-group-item">
                    <span>Друзья и читатели христианского портала "Голос Истины". На протяжении многих лет, редактором трудился брат Виталий Бойко. Так как журнал был учрежден церковью "на Горе", города Спокен, а Виталий, по приглашению другой баптистской церкви, перешел на служение пресвитера в ту церковь, на сегодня В. Бойко более не является редактором этого издательства.</span>
                    <br><br>
                    <span>Много сил, здоровья, времени и знаний было отдано Виталием как в организацию, так и в развитие этого журнала. Мы благодарны Богу и брату за труд во имя Его.</span>
                    <br><br>
                    <span>Надеемся, что Господь пошлет работников и этот сайт послужит для многих полезным ресурсом в жизни хождении за Господом. Оставляйте свои пожелания, комментарии, отзывы.</span>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="list-group">
                <span class="list-group-item active">
                Дружественные Сайты
                </span>
                <a class="list-group-item" href="http://www.baptistchurch.us/" target="_blank"><img class="img-responsive" width="140" height="50" border="1" alt="Spokane Slavic Baptist Church" src="static/images/spokane_baptist_church.jpg"></a>
                <a class="list-group-item" href="http://audioteka.at.ua" target="_blank"><img class="img-responsive" width="140" height="50" border="1" alt="Сайт Христианского Радио" src="static/images/audioteka.gif"></a>
                <a class="list-group-item" href="http://rusbaptist.stunda.org/" target="_blank"><img class="img" width="140" height="50" style="border: 1px solid #0000cc" alt="Свет Мира" src="static/images/Rusbaptist.gif"></a>
                <a class="list-group-item" href="http://www.ncek12.com/" target="_blank"><img class="img-responsive" width="140" height="50" border="1" alt="Slavic Christian Academy" src="static/images/SCA-banner.jpg"></a>
            </div>
            <div class="fb-page" data-href="http://www.facebook.com/pages/Zurnal-Golos-Istiny-The-Voice-of-Truth-magazine/174420585903457" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
{#            <div class="fb-page" data-href="http://www.facebook.com/pages/Zurnal-Golos-Istiny-The-Voice-of-Truth-magazine/174420585903457" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>#}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top: 15px">
            <div class="list-group">
                <span class="list-group-item active">
                ТЕМЫ
                </span>
                {% for topic in topics %}
                <a onclick="topic_to_archive({{ topic.topic_id }})" class="list-group-item custom-item" style="cursor: pointer">{{ topic.topic_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-10" id="" style="margin-top: 0px; margin-bottom: 20px"></div>

    </div>
    <script>
        $(document).ready(function() {
            get_home_news(-1);
        });
        set_menu_item_active('home');
    </script>
{% endblock %}
