{% extends 'base.html' %}
{% block content %}

    {% load comments %}
    {% load static %}
    {% load mytags %}

    <script type="text/javascript" src="{% static 'js/istina.js' %}"></script>

    <div class="col-lg-10" style="margin-top: 0px; margin-bottom: 50px">
        <ul class="breadcrumb">
            <li><a href="/">Домой</a></li>
            <li class="active">{{ news.title|truncatechars:30 }}</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4 col-sm-4 col-xs-12 pull-right" style="padding-bottom:15px;padding-top: 10px;text-align: center">
                    <img src="/media/news_images/image-news-300-{{ news.id }}.jpg" class="img-thumbnail" onerror="this.onerror=null;this.src='/static/images/istina_logo.gif';"/>
                </div>
                {% autoescape off %}
                    <strong><h4>{{ news.title }}</h4>{{ news.article_date }}</strong>
                    <p style="padding-top: 15px">{{ news.article|parse_article_imgs }}</p>
                {% endautoescape %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pull-right">
                <button type="button" id="refresh_btn" class="btn btn-sm" onclick="this.blur();get_comments({{ news.id }}, -1)" title="Refresh" style="float: right;">
{#                    <span class="glyphicon glyphicon-refresh"></span>#}
                </button>
            </div>
            <div class="col-md-5">
                <h4>Комментарии&nbsp;<span class="label label-default" style="margin-left: 10px; margin-top: -4px">{{ comment_count }}</span></h4>
            </div>
        </div>
        <div class="row">
                {% if user.is_authenticated %}
                    <div class="col-md-12">
                        <div class="mic-info">
                            <img class="img-circle" src="{{ request.user.email|gravatar_url:20 }}" />
                            <button class="user_sqr_sm" style="background-color: transparent;" disabled>{{ request.user.username }}</button>&nbsp;
                        </div>
                    </div>
                    {% get_comment_form for news as form %}
                    <form action="{% comment_form_target %}" method="POST" id="add_comment">
                        {% csrf_token %}
                        <div class="col-md-12" style="margin-bottom: -10px; margin-top: -4px">
                            {% for field in form %}
                                {% if field.name == "comment" %}
                                    <textarea class="form-control" cols="40" id="id_comment" maxlength="250" name="comment" rows="3" required="" placeholder=" Добавить комментарий..." style="resize:none; background-color: white; font-size: 15px"></textarea>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}

                    </form>
                    <div id="add_comment_btns" hidden>
                        <div class="col-md-3 col-sm-3 col-xs-6 pull-right" style="margin-left: -10px; margin-bottom:15px">
                            <button type="submit" class="btn btn-primary btn-sm btn-block" id="id_submit" form="add_comment">
                                <input type="hidden" name="next" value="/news/{{ news.id }}" form="add_comment"/>
                                &nbsp; Добавить
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 pull-right" style="margin-right: -10px">
                            <button class="btn btn-default btn-sm btn-block" id="id_comment_cancel" onclick="clear_comment_section()">
                                &nbsp; Отмена
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                    <div class="alert alert-info ur-card" style="color: gray">
                        <h5>Чтобы оставлять комментарии вам необходимо <span class="link" onclick="start_login()">Войти</span> или <span class="link" onclick="start_register()">Зарегистрироваться</span> </h5>
                    </div>
                    </div>
                {% endif %}
        </div>
        {% if comment_count > 0 %}
            <div class="row" style="margin-top: 15px">
                <div class="col-md-12">

                    <ul class="list-group">
                        <li class="list-group-item" id="comment_rows" style="padding-bottom: 0; padding-top: 0">
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>
    <script>
        set_menu_item_active('');
        $(document).ready(function(){
            get_comments({{ news.id }}, -1);
        });
    </script>

{% endblock %}