{% load staticfiles %}
{% autoescape off %}
<img src="http://istina.info/static/images/istina_logo.gif" />
<br><br><br><br>
Здравствуйте {{ user.username }},<br>
Пожалуйста, нажмите на ссылку, чтобы подтвердить свою регистрацию.
<br><br>
http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
{% endautoescape %}