<div class="list-group">
    <span class="list-group-item active">Статьи</span>
    {% for title, article, article_date, item in news %}
        <a class="list-group-item" href="news/{{ item.id }}" style="padding-top: 30px; padding-bottom: 30px; cursor: pointer">
            <strong><h4>{{ title }}</h4>{{ article_date }}</strong>
            <p style="padding-top: 15px">{{ article|truncatechars:200 }}</p>
        </a>
    {% endfor %}
</div>
{% if article_page.has_other_pages %}
    <ul class="pagination">
        {% if news_page.has_previous %}
            <li><span onclick="get_home_news(1)" style="cursor: pointer;">первая</span></li>
            <li><span onclick="get_home_news({{ article_page.previous_page_number }})" style="cursor: pointer;">&laquo;</span></li>
        {% endif %}
        {% for i in page_range %}
            {% if article_page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><span onclick="get_home_news({{ i }})" style="cursor: pointer;">{{ i }}</span></li>
            {% endif %}
        {% endfor %}
        {% if article_page.has_next %}
            <li><span onclick="get_home_news({{ article_page.next_page_number }})" style="cursor: pointer;">&raquo;</span></li>
            <li><span onclick="get_home_news({{ article_page.paginator.num_pages }})" style="cursor: pointer;">последняя</span></li>
        {% endif %}
    </ul>
{% endif %}