{% for year in years %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="list-group">
            <span class="list-group-item active">
                {{ year }}
            </span>
            {% for issue in magazine_issues %}
                {% if issue.year == year %}
                    <a class="list-group-item" onclick="load_issue_articles({{ issue.issue_id }})" style="cursor: pointer">
                        № {{ issue.no_year }} ({{ issue.no_all }}) {{ issue.year }} г.
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}