{% autoescape off %}

{% if issue_articles|length > 0 %}
    <div class="list-group" style="margin-top: 30px">
        <span class="list-group-item active"></span>
            {% for article in issue_articles %}
            <a class="list-group-item" href="article/{{ article.article_id }}" style="padding-top: 30px; padding-bottom: 30px; cursor: pointer">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <strong><h4>{{ article.header }}</h4><span class="label label-primary">{{ article.get_topic_text }}</span> &nbsp; {{ article.article_date|date:'M j, Y' }}</strong>
                        <p style="padding-top: 15px">{{ article.intro }}</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <img src="/static/images/article_pictures/{{ article.picture }}" class="img-thumbnail" height="150px"  onerror="this.onerror=null;this.src='/static/images/istina_logo.gif';"/>
                    </div>
                </div>
            </a>
            {% endfor %}
    </div>
{% else %}
    <div class="well well-lg" style="margin-top: 30px; color: #960b18">
      Ваш поиск не дал результатов! Попробуйте другой поиск...
    </div>
{% endif %}

{% endautoescape %}
{% if article_page.has_other_pages %}
    <ul class="pagination">
        {% if article_page.has_previous %}
            <li><span onclick="gArticlePage=1;load_all_articles();" style="cursor: pointer;">первая</span></li>
            <li><span onclick="gArticlePage={{ article_page.previous_page_number }};load_all_articles();" style="cursor: pointer;">&laquo;</span></li>
        {% endif %}
        {% for i in page_range %}
            {% if article_page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><span onclick="gArticlePage={{ i }};load_all_articles();" style="cursor: pointer;">{{ i }}</span></li>
            {% endif %}
        {% endfor %}
        {% if article_page.has_next %}
            <li><span onclick="gArticlePage={{ article_page.next_page_number }};load_all_articles();" style="cursor: pointer;">&raquo;</span></li>
            <li><span onclick="gArticlePage={{ last_page }};load_all_articles();" style="cursor: pointer;">последняя</span></li>
        {% endif %}
    </ul>
{% endif %}
<script>
    var gIssueID = '{{ issue_id }}';
</script>