<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Сортировать
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li id="sort_authors0"><a onclick="gArchiveAuthorSort=0;load_archive_authors()" style="cursor: pointer">По Алфавиту</a></li>
            <li id="sort_authors1"><a onclick="gArchiveAuthorSort=1;load_archive_authors()" style="cursor: pointer;">Количеству статей</a></li>
        </ul>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="list-group">
        <span class="list-group-item active"></span>
        {% for author in authors %}
            {% if author.mag_count != 0 %}
            <a class="list-group-item" onclick="load_author_articles({{ author.author_id }})" style="cursor: pointer">
            {{ author.last_name }} {{ author.first_name }}, <i>{{ author.place }}</i> ({{ author.mag_count }})
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>