{% load comments %}
{% load mytags %}
{% for comment, time_since_created in comments %}
<div class="row" style="padding-top: 8px;">
    <div class="col-md-12">
        <div id="comment_error{{ comment.id }}"></div>
        <div class="mic-info">
            <img class="img-circle" src="{{ comment.user.email|gravatar_url:20 }}" />
            <button class="user_sqr_sm" disabled>{{ comment.user_name }}</button>&nbsp;
            <span>&nbsp;&#8226;&nbsp; {{ time_since_created }}</span>
        </div>

        <div style="word-wrap:break-word; margin-left: 10px">
            <h5>{{ comment.comment }}</h5>
        </div>

        </div>
        <div class="divider" style="margin-top: 20px;margin-bottom: 0"></div>
    </div>

</div>
{% endfor %}
{% if comments_page.has_other_pages and comments_page.has_next  %}
<div class="col-md-12" id="load_more_comments{{ page }}" style="text-align: center; margin-top: 10px; margin-bottom: 10px">
    <span onclick="gCommentsPage+=1; get_comments({{ news_article.id }}, gCommentsPage)" style="color: #1c699d; cursor: pointer">Загрузить еще</span>
</div>
{% endif %}