<div class="list-group">
    {%  if user.is_authenticated and user.is_staff == 1 %}
        <a href="/blog"><button class="btn btn-success" style="width:100%; margin-bottom: 10px;"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
    {% endif %}
    <span class="list-group-item active">ЛЕНТА НОВОСТЕЙ</span>
        {% for title, article, article_date, item in news %}
                    {%  if user.is_authenticated and user.is_staff == 1 %}
                            <span class="list-group-item" style="padding-top: 30px; padding-bottom: 30px; {% if item.active == 0 %}background-color: grey; opacity: .8{% endif %}">
                                <div class="row" onclick="load_page('news/{{ item.id }}')" style="cursor: pointer">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <strong><h4>{{ title }}</h4>{{ article_date }}</strong>
                                        <p style="padding-top: 15px">{{ article|truncatechars:200 }}</p>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-10">
                                        <img src="/media/news_images/image-news-300-{{ item.id }}.jpg" class="img-responsive" onerror="this.onerror=null;this.src='/static/images/istina_logo.gif';"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 pull-left" style="margin-left: 0px">
                                        <button class="btn btn-md btn-primary" onclick="load_page('/blog/{{ item.id }}')"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                        {% if item.active == 0 %}
                                        <button class="btn btn-md btn-success" onclick="enable_news_article({{ item.id }})"><span class="glyphicon glyphicon-eye-open"></span> Enable</button>
                                        {% else %}
                                        <button class="btn btn-md btn-danger" onclick="disable_news_article({{ item.id }})"><span class="glyphicon glyphicon-eye-close"></span> Disable</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </span>
                    {% else %}
                        {% if item.active == 1 %}
                         <a class="list-group-item" href="news/{{ item.id }}" style="padding-top: 30px; padding-bottom: 30px; cursor: pointer">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <strong><h4>{{ title }}</h4>{{ article_date }}</strong>
                                    <p style="padding-top: 15px">{{ article|truncatechars:200 }}</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <img src="/media/news_images/image-news-300-{{ item.id }}.jpg" class="img-responsive" onerror="this.onerror=null;this.src='/static/images/istina_logo.gif';"/>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endif %}
        {% endfor %}
</div>
{% if news_page.has_other_pages %}
    <ul class="pagination">
        {% if news_page.has_previous %}
            <li><span onclick="get_home_news(1)" style="cursor: pointer;">первая</span></li>
            <li><span onclick="get_home_news({{ news_page.previous_page_number }})" style="cursor: pointer;">&laquo;</span></li>
        {% endif %}
        {% for i in page_range %}
            {% if news_page.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><span onclick="get_home_news({{ i }})" style="cursor: pointer;">{{ i }}</span></li>
            {% endif %}
        {% endfor %}
        {% if news_page.has_next %}
            <li><span onclick="get_home_news({{ news_page.next_page_number }})" style="cursor: pointer;">&raquo;</span></li>
            <li><span onclick="get_home_news({{ news_page.paginator.num_pages }})" style="cursor: pointer;">последняя</span></li>
        {% endif %}
    </ul>
{% endif %}